@model IEnumerable<Support.WebApi.Models.GetProductViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section ProductDetails{
    
        <div class="row border-bottom" style="padding-top: 8px">
            <div class="col-md-3">
                <div class="input mb-3">
                    <input type="text" class="form-control" placeholder="Ürün Kodu" id="txtProductCode" name="txtProductCode">
                </div>
            </div>
            <div class="col-md-2">
            <button class="btn btn-outline-primary" type="submit" id="button-listele" onclick="javascript:aabc();">Getir</button>
            </div>
        </div>
}
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.CategoryId)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Code)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function aabc(){
        var a = document.getElementById("txtProductCode").value;
        console.log(a);
        //window.location.href = "products/"+a+"";
        window.location.href =  a + "";
        //$.ajax({
        //    type: "GET",
        //    url: '~/api/BevBread/GetProduct?productCode="'document.getElementById("txtProductCode").value'"',
        //    dataType: 'json',
        //    success: function (response) {
        //    },
        //    error: function () {
        //    }
        //});
    }

</script>