@model IEnumerable<Support.Domain.Models.ProductModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section ProductDetails{
    @using(Html.BeginForm())
    {
    <div class="row border-bottom" style="padding-top: 8px">
        <div class="col-md-3">
            <div class="input mb-3">
                <input type="text" class="form-control" placeholder="Kategori ID'si'" name="KategoriID">
            </div>
        </div>
        <div class="col-md-3">
                <div class="input mb-3">
                    <input type="text" class="form-control" placeholder="Min. Fiyat" name="MinPrice">
                </div>
        </div>
        <div class="col-md-2">
                <button class="btn btn-outline-primary" type="submit" id="button-listele">Listele</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-outline-success" type="submit" id="button-excel">Excel Aktar</button>
        </div>
    </div>
    }
}
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.ProductId)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.UnitPrice)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.CategoryName)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoryName)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
